{{ define "main" }}
<section id="store" style="background-image:url(./img/ramen_storefront.jpg);">
    <button type="button" class="mi-round">arrow_back</button>
    <div class="infos">
        <button type="button" class="allPics">Toutes les photos</button>
        <button type="button" id="expand" class="mi-round">expand_more</button>
        <h1>Ramen Shop Oishii</h1>
        <h2><span class="mi-round">sell</span>Jusque -40%</h2>
        <p>70 Rue de Rempart<br>59300 Valenciennes</p>
        <span class="dist">0,7 km</span>
        <a href="#">Site web</a><a href="#">Itinéraire</a>
        <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog.</p>
    </div>
    <div class="action">
        <button type="button" class="big violet">Choisir mon deal</button>
    </div>
</section>
{{ end }}