$c_purple : #50438C;
$c_pink : #CC42D6;
$c_violet : #BC00DD;
$c_white : #FFF;
$c_orangeLight : #FC6C2C;
$c_orangeDark : #E03441;
$c_greyDark : #404040;
$c_greyLigth : #999;
$c_bluePale : #D8DEE8;
$c_blueBG : #F4F7FA;