<aside id="searchDeal">
    <a href="{{ .Site.BaseURL }}"><img src="./img/logo_dd_w.svg" width="50" height="50" alt="Logo de l'app DealsDays"></a>
    <h1>Trouver votre deal</h1>
    <h2>243 deals à Valenciennes - 15 kms</h2>
    <div class="fluid">
        <fieldset>
            <button type="button" class="search mi-round">search</button>
            <input type="text" id="search" value="Chercher un commerce">
        </fieldset>
        <button type="button" class="mi-round">sort</button>
    </div>
    <p>Exemple : boucherie, Chez Marie, café ...</p>
</aside>